
<% #binding.pry%>
  <ul>
    <li>
      Name: <%= student.name %>
    </li>
    <ul>
      <li>
        Birthday: <%= student.birthday.strftime("%m/%d/%Y")  %>
      </li>
      <li>
        Hometown: <%= student.hometown.capitalize %>
      </li>
    </ul>
  </ul>
